<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Regretion">
  <test thread-count="5" name="Test">
    <classes>
      <class name="cucumber.Automation_udemy.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite_Regretion -->
